In [11]:
import pandas as pd
import numpy as np
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, r2_score, f1_score
from sklearn.svm import SVC
from tqdm import tqdm
from sklearn.preprocessing import MinMaxScaler
from sklearn.pipeline import Pipeline

In [3]:
df = pd.read_csv('Kyphosis.csv')

In [5]:
df

   Kyphosis  Age  Number  Start
0    absent   71       3      5
1    absent  158       3     14
2   present  128       4      5
3    absent    2       5      1
4    absent    1       4     15
..      ...  ...     ...    ...
76  present  157       3     13
77   absent   26       7     13
78   absent  120       2     13
79  present   42       7      6
80   absent   36       4     13

[81 rows x 4 columns]

In [13]:
X = df.drop('Kyphosis',axis = 1)
y = df['Kyphosis']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=24, stratify=y)

In [31]:
scaler = MinMaxScaler()
C = np.linspace(0.001, 4, 10)
ds = [2,3,4]

scores = []

for i in tqdm(range(len(C))):
    for j in ds:
        svm = SVC(kernel= 'poly',C=C[i], degree= j)
        pipe =Pipeline([('scl', scaler),('svm', svm)])
        pipe.fit(X_train,y_train)
        y_pred = pipe.predict(X_test)
        scores.append([C[i],j,f1_score(y_test,y_pred,pos_label='present')])
df1 = pd.DataFrame(scores , columns=['C', 'degree', 'F1'])
df1.sort_values('F1',ascending=False ).iloc[0]

100%|██████████████████████████████████████████████████████████████████████████████████| 10/10 [00:00<00:00, 74.81it/s]

C         4.0
degree    2.0
F1        0.4
Name: 27, dtype: float64

In [33]:
scores

[[0.001, 2, 0.0],
 [0.001, 3, 0.0],
 [0.001, 4, 0.0],
 [0.44533333333333336, 2, 0.0],
 [0.44533333333333336, 3, 0.0],
 [0.44533333333333336, 4, 0.0],
 [0.8896666666666667, 2, 0.0],
 [0.8896666666666667, 3, 0.0],
 [0.8896666666666667, 4, 0.0],
 [1.334, 2, 0.0],
 [1.334, 3, 0.0],
 [1.334, 4, 0.0],
 [1.7783333333333333, 2, 0.0],
 [1.7783333333333333, 3, 0.2857142857142857],
 [1.7783333333333333, 4, 0.0],
 [2.2226666666666666, 2, 0.2857142857142857],
 [2.2226666666666666, 3, 0.25],
 [2.2226666666666666, 4, 0.0],
 [2.6670000000000003, 2, 0.2222222222222222],
 [2.6670000000000003, 3, 0.25],
 [2.6670000000000003, 4, 0.0],
 [3.1113333333333335, 2, 0.4],
 [3.1113333333333335, 3, 0.25],
 [3.1113333333333335, 4, 0.0],
 [3.5556666666666668, 2, 0.4],
 [3.5556666666666668, 3, 0.25],
 [3.5556666666666668, 4, 0.0],
 [4.0, 2, 0.4],
 [4.0, 3, 0.25],
 [4.0, 4, 0.0]]

In [35]:
df1

           C  degree        F1
0   0.001000       2  0.000000
1   0.001000       3  0.000000
2   0.001000       4  0.000000
3   0.445333       2  0.000000
4   0.445333       3  0.000000
5   0.445333       4  0.000000
6   0.889667       2  0.000000
7   0.889667       3  0.000000
8   0.889667       4  0.000000
9   1.334000       2  0.000000
10  1.334000       3  0.000000
11  1.334000       4  0.000000
12  1.778333       2  0.000000
13  1.778333       3  0.285714
14  1.778333       4  0.000000
15  2.222667       2  0.285714
16  2.222667       3  0.250000
17  2.222667       4  0.000000
18  2.667000       2  0.222222
19  2.667000       3  0.250000
20  2.667000       4  0.000000
21  3.111333       2  0.400000
22  3.111333       3  0.250000
23  3.111333       4  0.000000
24  3.555667       2  0.400000
25  3.555667       3  0.250000
26  3.555667       4  0.000000
27  4.000000       2  0.400000
28  4.000000       3  0.250000
29  4.000000       4  0.000000

In [37]:
y.value_counts()

Kyphosis
absent     64
present    17
Name: count, dtype: int64